.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: calc(100vh - 150px);
  background: #343434;
  border-radius: 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .7);
  overflow: hidden;
}

.header {
  height: 50px;
  width: 100%;
  background: #161c21;
  border-bottom: 1px solid #3d464e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 16px;
  font-family: ubuntu, arial;
  color: #aab6bd;
}

.header i {
  font-size: 1.4rem;
  cursor: pointer;
}

.main {
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* list of musik */

.aside {
  width: 250px;
  height: 100%;
  background: #161c21;
  border-left: 1px solid #3d464e;
}

.musikHeader {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #3d464e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 12px;
  font-family: ubuntu, arial;
  color: #aab6bd;
}

.musikHeader div span:first-child {
  background: #f9253f;
  font-size: 10px;
  margin-right: 3px;
}

.musikHeader div:last-child {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #f9253f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.musikHeader div:last-child i {
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
}

.musikList {
  padding: 5px;
  height: calc(100% - 40px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.musikItem {
  position: relative;
  width: 100%;
  height: 70px;
  padding: 10px;
  border-radius: 5px;
  background: #3d464e;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.musikItem:not(:last-child) {
  margin-bottom: 5px;
}

.musikItem div:last-child {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #3e4bff;
  cursor: pointer;
}

.musikItem div:last-child i {
  font-size: 1.2rem;
  color: #fff;
}

.musikItemInfo {
  width: calc(100% - 100px);
  height: auto;
  font-size: 12px;
  margin-left: 10px;
  line-height: 20px;
  color: #aab6bd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 18px;
}

.musikItemInfo span:first-child {
  font-weight: 600;
  font-size: 14px;
}

.musikItemInfo span:last-child {
  font-weight: 500;
  font-size: 12px;
}

.musikItemImage {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
}

/* upload musik section */
.uploadMusik {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  z-index: 1;
}

/* player musik section */

.playerSection {
  height: 100%;
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* musik controller */

.musikController {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 40px 20px 40px;
}

.musikController audio {
  width: 100%;
  height: auto;
  border: none;
  color: inherit;
  color: #f9253f !important;
}

/* musik info section  */

.musikInfo {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.musik {
  position: relative;
  width: calc(100% - 80px);
  height: calc(100% - 40px);
  background: #f4f4f4;
  border-radius: 15px;
  overflow: hidden;
}

.musik img {
  object-fit: cover;
}

.musikProfil {
  width: 100%;
  height: 100%;
}

.musikProfil:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 10%, rgba(0, 0, 0, .5));
}

.musikText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-family: ubuntu, arial;
  opacity: .8;
  width: 100%;
}

.musikText span:first-child {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.musikText span:last-child {
  font-size: 25px;
}

/* navigation */
.navigationContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200%;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  transition: transform .3s ease-out;
}

.navigateToList {
  transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .frame {
    width: 90%;
  }

  .musik {
    width: calc(100% - 40px) !important;
    height: calc(100% - 40px);
  }

  .musikText span:first-child {
    font-size: 28px;
    font-weight: bold;
  }

  .musikText span:last-child {
    font-size: 20px;
  }
}

@media screen and (max-width: 575px) {
  .playerSection {
    width: 100%;
  }

  .uploadMusik {
    width: 100%;
  }

  .aside {
    width: 100%;
  }

  .frame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0, 0);
    height: 100%;
    width: inherit !important;
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-height: 500px) {
  .frame {
    height: calc(100vh - 80px);
  }
}

@media screen and (max-height: 500px) and (max-width: 575px) {
  .frame {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0, 0);
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 920px) {
  .frame {
    width: 80%;
  }

  .musik {
    width: calc(100% - 120px);
    height: calc(100% - 40px);
  }
}
