.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: calc(100vh - 150px);
  background: #343434;
  border-radius: 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .7);
  overflow: hidden;
}

.header {
  height: 50px;
  width: 100%;
  background: #161c21;
  border-bottom: 1px solid #3d464e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  font-size: 16px;
  font-family: ubuntu, arial;
  color: #aab6bd;
}

.main {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* list of musik */

.aside {
  width: 200px;
  height: 100%;
  background: #161c21;
  border-left: 1px solid #3d464e;
}

.musikHeader {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #3d464e;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  font-size: 12px;
  font-family: ubuntu, arial;
  color: #aab6bd;
}

.musikHeader span:first-child {
  background: #f9253f;
  font-size: 10px;
  margin-right: 3px;
}

/* player musik section */

.playerSection {
  height: 100%;
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* musik controller */

.musikController {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.musikController progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 3px;
  border: none;
  color: inherit;
  color: #f9253f !important;
}

.musikController progress::-webkit-progress-value {
  background: violet;
}

.musikController progress::-moz-progress-value {
  background: yellow;
}

/* musik info section  */

.musikInfo {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.musik {
  width: calc(100% - 80px);
  height: calc(100% - 40px);
  background: #f4f4f4;
  border-radius: 15px;
}

@media screen and (max-width: 767px) {
  .frame {
    width: 80%;
  }
}

@media screen and (max-width: 575px) {
  .playerSection {
    width: 100%;
  }

  .aside {
    display: none;
    width: 100%;
  }

  .frame {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0, 0);
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-height: 500px) {
  .frame {
    height: calc(100vh - 80px);
  }
}

@media screen and (max-height: 500px) and (max-width: 575px) {
  .frame {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0, 0);
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}
